.weather {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 40px 20px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img {
    width: 40px;
    padding: 12px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    color: #fff;
    font-size: 50px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 35px;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.weather-data .col {
    flex: 1 1 45%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}

@media (max-width: 480px) {
  .temperature {
    font-size: 40px;
  }

  .location {
    font-size: 28px;
  }

  .search-bar input {
    width: 200px;
    font-size: 16px;
  }

  .search-bar img {
    width: 36px;
    padding: 10px;
  }

  .weather-icon {
    width: 120px;
  }

  .weather-data .col {
    font-size: 18px;
  }

  .weather-data .col span {
    font-size: 14px;
  }
}
